{% for b in boxes[1] %}
<li>
{% set b = b.split(" ")[2][1:-1] %}
  <a href="{{url_for('list_mails', box=b)}}">
    {{b}}
  </a>
</li>
{% endfor %}

<TABLE>
  <THEAD>
    <tr>
      <td>
        From
      </td>
      <td>
        To
      </td>
      <td>
        Subject
      </td>
      <td>
        Date
      </td>
    </tr>
  </THEAD>
  <TBODY>
    {% if not mails %}
    <tr>
      <td>
        This folder is empty
      </td>
    </tr>
    {% else %}
    {% for m in mails %}
    {% set uid = m['id'] %}
    {% set m = m['msg'] %}
    <tr>
      <td>
        <a href="{{url_for('read_mail', box=box, mailid=uid)}}">
          {{m['From']}}
        </a>
      </td>
      <td>
        <a href="{{url_for('read_mail', box=box, mailid=uid)}}">
          {{m['To']}}
        </a>
      </td>
      <td>
        <a href="{{url_for('read_mail', box=box, mailid=uid)}}">
          {{m['Subject']}}
        </a>
      </td>
      <td>
        <a href="{{url_for('read_mail', box=box, mailid=uid)}}">
          {{m['Date']}}
        </a>
      </td>
    </tr>
    {% endfor %}
    {% endif %}
  </TBODY>
</TABLE>
